body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tahoma';
}

p a {
    font-family: 'Tahoma';
    text-decoration: none;
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    margin: 0;
}

header{
    padding: 30px 0;
    width: 100%;
   text-align: center;
    background-color: #afddfb;
}

header img {
    width: 150px;
    margin: auto;
}

header p{
    margin: 15px 10px 25px 10px;
    text-align: center;
}

section p {
    margin: 10px auto;
    width: 980px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}

p {
    margin: auto;
   
}

nav {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section {
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}